*{
    box-sizing: border-box;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    text-align: center;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(217, 217, 217);
}

.oks{
    margin-top: 80px;
    border-radius: 20px;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.4);
    height: 450px;
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fff;
}
.buts{
    flex-direction: row;
}
button{
    padding: 5px;
    margin: 5px;
    border-radius: 10px;
    border-style: none;
    color: white;
    font-size: 24px;
    width: 90px;
    transition: all 0.3s ease-out;
}
button:hover{
    transform:scale(1.1);
}
h1{
    font-size: 90px;
    height: 100px;
    margin-top: 0;
    transition: all 0.3s ease-in-out;
}
h1:hover{
    transform: scale(1.2);
}
h2{
    font-size: 2.7em;
    margin-bottom: 0;
}